@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 自定义全局样式 */
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* 使用 Roboto 字体 */
    background-color: rgb(250, 250, 247);
    /* 设置背景色 */
}

.container {
    max-width: 1200px;
    /* 最大宽度为 1200px */
    margin: 0 auto;
    /* 居中 */
    padding: 0 20px;
    /* 左右边距为 20px */
}

/* 响应式布局 */
@media (max-width: 767px) {
    html {
        font-size: 14px;
    }

    /* 在小屏幕设备上设置较小的字体大小 */
    /* 小屏幕样式 */
    .container {
        padding: 0 10px;
        /* 左右边距为 10px */
    }
}

/* 适配移动设备 */
@media (max-width: 640px) {

    /* 移动设备样式 */
    .container {
        padding: 0 5px;
        /* 左右边距为 5px */
    }

    html {
        font-size: 12px;
        /* 在移动设备上设置最小的字体大小 */
    }
}